 @charset "utf-8";


.imgSlide {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.gallery {
    position:absolute;
    width:400%;
    height:100%;
}
.gallery img {
    display:block;
    width:25%;
    height:auto;
    position:absolute;
}
.banCon {
    background-color:transparent;
    height:100%;
}
.banTitleBox {
    width:0%;
    float:left;
    height:100%;
    opacity:0;
    transition-duration:0.2s, 0.4s;
    position:absolute;
    left:0; 
    top:0;
    background-color:transparent;
    transition-property:width, opacity; 
    transition-delay:0.1s, 0.1s;
}
.banTitleBox.on {
    width:25%;
    opacity:1;
}
.banTitleBox.on .banTit {
    width:100%;
    opacity:1;
}
.banTitleBox .banTit {
    top:30%; 
    transition-duration:0.6s;
    opacity:0;
    transition-delay:0.3s; 
    left:65%;
    clear:both;
    position:absolute;
    padding-top:70%;
}
.banTitleBox.on .banTit {
    padding-top:0;
    opacity:1;
}    
.banTitleBox .more {
    display:block;
    padding-top:70%;
    left:70%;
    top:65%;
    position:absolute;
    opacity:0;
    color:#ee366e;
    clear:both;
    transition-duration:0.5s;
    transition-delay:0.3s;
}
.banTitleBox.on .more {
    padding-top:0; 
    opacity:1;
}
.next, .prev, .paging {
    z-index:999;
    position:absolute;
    display:block;
    width:50px;
    height:50px;
    top:10%;
    background-repeat:no-repeat; 
    cursor:pointer;
}
.next, .prev {
    width:58px;
    height:58px;
    background-image:url("");
    text-indent:-9999px;
}
.next {
    right:10%;
    background-position:center bottom;
}
.prev {
    left:10%;
    background-position:center top;
}
.paging {
    left:10%;
    top:85%;
    width:200px;
}
.paging a, .paging button {
    display:block;
    margin:5px;
    float:left; 
    text-align:center;
    width:30px;
    height:30px;
    line-height:20px; 
    border:0;
    outline:0;
    background-color:transparent; 
    background-repeat:no-repeat;
    color:#fff; 
    line-height:30px;
    font-size:14px; 
    cursor:pointer; 
    border-radius:16px;
}
.paging a {
    border:3px solid #fff;
    width:20px; 
    height:20px; 
    background-color:transparent;
    text-indent:-9999px;
}
.paging a.paging_on {
    background-color:#fccf12; 
    border:0;
    width:25px;
    height:25px;
}
.playBtn {
    background-image:url("./images/ps.png");
}
.playBtn[control-toggle="play"] {
    background-position:center 0px;
}
.playBtn[control-toggle="stop"] {
    background-position:center -30px;
}