@charset "utf-8";


        * {
            padding: 0;
            margin: 0;
        }
        body, html {
            width: 100%;
            height: 100%;
            min-width: 320px;
            max-width: 1920px;
        }
        ul {
            list-style: none;
        }
        img {
            border: 0;
        }
        a {
            text-decoration: none;
        }
        .main {
            width: 100%;
            height: auto;
        }
        .con {
            width: 100%;
            height: 100%;
        }
        #hd {
            width: 90%;
            height: auto;
            position: relative;
            margin: 0 auto;
        }
        .hdTop {
            text-align: center;
            background-color: #fff;
        }
        .hdIn {
            width: 80%;
            margin: 0 auto;
            position: relative;
        }
        .logo {
            display: block;
            width: 15%;
            height: auto;
            margin: 0 auto;
            padding: 3%;
        }
        .logo img {
            width: 100%;
            height: auto;
        }
        .leftHd {
            position: absolute;
            left: 0px;
            top: 30%;
            width: 30%;
            height: auto;
        }
        .leftSns li {
            float: left;
        }
        .leftSns li a {
            display: block;
            width: 70%;
            height: auto;
        }
        .leftSns li a img {
            width: 100%;
            height: auto;
        }
        
        .rightHd {
            position: absolute;
            right: 0;
            top: 35%;
            width: 30%;
            height: auto;
        }
        .rightMenu {
            width: 100%;
            height: auto;
        }
        .rightMenu li {
            float: left;
            width: 33.33%;
        }
        .rightMenu li a {
            display: block;
            font-size: 2vmin;
            color: #777;
            text-align: center;
        }
        
        .menu {
            width: 100%;
            height: auto;
        }
        .gnb {
            width: 80%;
            height: auto;
            margin: 1% auto;
        }
        .mainMenu {
            width: 100%;
            text-align: center;
        }
        .mainMenu li {
            float: left;
            width: 16.66%;
            height: auto;
        }
        .mainMenu li a {
            display: block;
            color: #323232;
            transition: 0.9s;
            font-size: 3vmin;
            font-weight: bold;
        }
        .mainMenu li a:hover {
            color: #2e3ff0;
        }
        .sub {
            clear: both;
            width: 100%;
            height: auto;
            background-color: #323232;
            position: absolute;
            left: 0;
            display: none;
            z-index: 9999;
        }
        .subMenu li {
            float: inherit;
        }
        .subMenu li a {
            color: #fff;
            text-align: center;
            font-size: 3vmin;
        }
        #con1 {
            width: 100%;
            height: auto;
        }
        .con1In {
            padding-top: 2%;
            width: 80%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
        }
        #vs {
            width: 100%;
            height: auto;
        }
        #vs ul {
            width: 500%;
            height: auto;
        }
        #vs ul li {
            float: left;
            width: 20%;
            height: auto;
            position: relative;
        }
        #vs ul li img {
            display: block;
            width: 100%;
            height: auto;
        }
        #vs ul li h2 {
            position: absolute;
            color: #323232;
        }
        .Tit1 {
            font-size: 6vmax;
            top: 20%;
            left: 6%;
        }
        .Tit2 {
            font-size: 4vmax;
            left: 20%;
            top: 45%;
        }
        .Tit3 {
            top: 70%;
            left: 15%;
            font-size: 2vmax;
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
        }
        
        .slBtn {
            width: 100%;    
            height: auto;
        }
        .slBtnIn {
            width: 40%;
            height: auto;
        }
        .slBtnIn ul {
            width: 100%;
            height: auto;
        }
        .slBtnIn ul li {
            float: left;
            width: 45%;
            height: auto;
            margin: 2.5%;
        }
        .slBtnIn ul li button {
            display: block;
            width: 100%;
            height: auto;
            background: none;
            border: 0;
            color: #323232;
            font-size: 3vmin;
            font-weight: bold;
        }
        #con2 {
            width: 100%;
            height: auto;
        }
        .con2In {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .con2Tit1 {
            font-size: 12vmin;
            font-weight: bold;
            text-align: center;
            line-height: 30vmin;
            color: #3c3f99;
        }
        .con2Tit2 {
            font-size: 10vmin;
            font-weight: 100;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            line-height: 1vmin;
            color: #3c3f99;
        }
        .con2Con {
            width: 100%;
            height: auto;
        }
        .con2Con ul {
            width: 90%;
            height: auto;
            margin: 5% auto;
        }
        .con2Con ul li {
            width: 15%;
            height: auto;
            margin: 2.5%;
            float: left;
            text-align: center;
            border: 1px solid #3c3f99;
            box-sizing: border-box;
            border-radius: 30px;
        }
        .con2Con ul li a {
            display: block;
            font-size: 3vmin;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            color: #323232;
        }
        .con2ConLst {
            width: 80%;
            height: auto;
            margin: 10% auto;
            
        }
        .con2ConLst ul {
            width: 100%;
            height: auto;
        }
        .con2ConLst ul li {
            width: 20%;
            height: auto;
            float: left;
            margin: 2.5%;
            position: relative;
        }
        .con2ConLst ul li .con2ItemImg {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .con2Hover {
            display: none;
        }
        .listHover {
            background-image: url("./images/desktop/con2hoverBg.png");
            width: 100%;
            height: 100%;
            border: 1px solid #e1e1f9;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .listHover .icon img {
            display: block;
            width: 40%;
            height: auto;
            margin: 0 auto;
            padding-top: 5%;
        }
        .listHover .hoverTit {
            text-align: center;
            color: #fff;
            font-size: 3vmin;
            line-height: 4vmin;
            font-weight: bold;
            padding-top: 30%;
        }
        #con3 {
            width: 100%;
            height: auto;
        }
        .con3In {
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding-top: 50%;
        }
        .con3Tit1 {
            font-size: 12vmin;
            font-weight: bold;
            text-align: center;
            line-height: 30vmin;
            color: #3c3f99;
        }
        .newsNoti {
            width: 100%;
            height: auto;
            position: relative;
        }
        .notiTit {
            font-size: 4vmin;
            line-height: 15vmin;
            color: #3c3f99;
        }
        .notiMore {
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            right: 0;
            top: 20%;
            border: 1px solid #ece;
            background-repeat: no-repeat;
            text-align: center;
        }
        .notiLink {
            display: block;
            padding: 0 158px 0 35px;
            position: relative;
            background-color: #3c3f99;
            color: #fff;
        }
        .notiLinkTit {
            font-size: 4vmin;
            font-weight: bold;
            line-height: 15vmin;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
        }
    </style>
    
    <style>
        #con4 {
            width: 100%;
            height: auto;
        }
        .con4In {
            width: 80%;
            height: auto;
            margin: 10% auto;
        }
        .newsWork {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        .workTit {
            font-size: 4vmin;
            line-height: 10vmin;
            color: #3c3f99;
        }
        .workBox {
            float: left;
            width: 45%;
            height: auto;
            margin: 2.5%;
        }
        .workLink p {
            background-color: #3c3f99;
            color: #fff;
            font-size: 2vmin;
            line-height: 14vmin;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-align: center;
            width: 100%;
            margin-top: -2%;
            height: auto;
        }
        .workLink img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    
    <style>
        #ft {
            width: 100%;
            height: auto;
        }
        .ftIn {
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding-top: 30%;
        }
        .ftTop {
            width: 100%;
            height: auto;
            position: relative;
        }
        .ftTop ul {
            width: 100%;
            height: auto;
        }
        .ftTop ul li {
            float: left;
            width: 15%;
            height: auto;
            margin: 2.5%;
        }
        .ftTopList li a {
            display: block;
            height: 112px;
            text-align: center;
            margin: 0 auto;
        }
        .ftTopList li a.ftItem1 {
            display: block;
            width: 120px;
            background-image: url("images/desktop/ftLst1_off.png");
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-position: center center;
            transition: 0.7s;
        }
        .ftTopList li a.ftItem1:hover {
            background-image: url("images/desktop/ftLst1.png");
        }
        .ftTopList li a.ftItem2 {
            display: block;
            width: 120px;
            background-image: url("images/desktop/ftLst4_off.png");
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-position: center center;
            transition: 0.7s;
        }
        .ftTopList li a.ftItem2:hover {
            background-image: url("images/desktop/ftLst4.png");
        }
        .ftTopList li a.ftItem3 {
            display: block;
            width: 120px;
            background-image: url("images/desktop/ftLst2_off.png");
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-position: center center;
            transition: 0.7s;
        }
        .ftTopList li a.ftItem3:hover {
            background-image: url("images/desktop/ftLst2.png");
        }
        .ftTopList li a.ftItem4 {
            display: block;
            width: 120px;
            background-image: url("images/desktop/ftLst5_off.png");
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-position: center center;
            transition: 0.7s;
        }
        .ftTopList li a.ftItem4:hover {
            background-image: url("images/desktop/ftLst5.png");
        }
        .ftTopList li a.ftItem5 {
            display: block;
            width: 120px;
            background-image: url("images/desktop/ftLst3_off.png");
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-position: center center;
            transition: 0.7s;
        }
        .ftTopList li a.ftItem5:hover {
            background-image: url("images/desktop/ftLst3.png");
        }
        
        .ftMenu {
            width: 100%;
            height: auto;
            border-top: 1px solid #777;
            margin-top: 20%;
        }
        .ftNav {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        .ftNav li {
            width: 15%;
            height: auto;
            margin: 2.5%;
            float: left;
            position: relative;
        }
        .ftNav li a {
            display: block;
            color: #333;
            transition: 0.5s;
            font-weight: bold;
            font-size: 2vmin;
            text-align: center;
        }
        .ftNav li a:hover {
            color: #504dff;
        }
        .copyright {
            width: 100%;
            height: auto;
            margin-top: 15%;
        }
        .copyright span {
            display: block;
            text-align: left;
            font-weight: bold;
            font-size: 1.7vmin;
            color: #3c3f99;
            line-height: 6vmin;
        }
        .copyLeft {
            width: 65%;
            height: auto;
            float: left;
        }
        .call {
            float: right;
        }
        .callTit {
            display: block;
            font-size: 5vmin;
        }
        .callLink {
            display: block;
            font-size: 3vmin;
            cursor: pointer;
        }
        .call span {
            clear: both;
            display: block;
            font-size: 13px;
            line-height: 40px;
            text-align: right;
            padding: 0;
        }
        #mobile {
            display: none;
        }
        #Mhd {
            width: 100%;
            height: auto;
            position: relative;
        }
        .MhdIn {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .logo {
            display: block;
        }
        .MmenuBtn {
            position: absolute;
            width: 20%;
            height: auto;
            top: 30%;
            left: 10%;
        }
        .Msearch {
            position: absolute;
            width: 15%;
            height: auto;
            top: 30%;
            right: 0%;
        }
        #Mcon1 {
            width: 100%;
            height: auto;
        }
        .Mcon1In {
            padding-top: 2%;
            width: 80%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
        }
        #Mvs {
            width: 100%;
            height: auto;
        }
        #Mvs ul {
            width: 500%;
            height: auto;
        }
        #Mvs ul li {
            float: left;
            width: 20%;
            height: auto;
            position: relative;
        }
        #Mvs ul li img {
            display: block;
            width: 100%;
            height: auto;
        }
        #Mvs ul li h2 {
            position: absolute;
            color: #323232;
        }
        .Tit1 {
            font-size: 4vmax;
            top: 20%;
            left: 6%;
        }
        .Tit2 {
            font-size: 2vmax;
            left: 30%;
            top: 45%;
        }
        .Tit3 {
            top: 70%;
            left: 15%;
            font-size: 2vmax;
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
        }
    </style>
    
    <style>
        #Mcon2 {
            width: 100%;
            height: auto;
        }
        .Mcon2In {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .Mcon2In h2 {
            text-align: center;
            color: #323232;
            font-weight: bold;
            color: #3c3f99;
        }
        .Mcon2Tit1 {
            padding-top: 15%;
            font-size: 7vmax;
        }
        .Mcon2Tit2 {
            font-family: 'Oswald', sans-serif;
        }
        .Mcon2Con {
            width: 100%;
            height: auto;
        }
        .Mcon2Con ul {
            padding-top: 5%;
            width: 100%;
            height: auto;
        }
        .Mcon2Con ul li {
            width: 15%;
            height: auto;
            margin: 2.5%;
            float: left;
        }
        .Mcon2Con ul li a {
            display: block;
            font-weight: bold;
            font-size: 1.2vmax;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            color: #3c3f99;
        }
        
        .Mcon2LstIn {
            width: 100%;
            height: auto;
            position: relative;
        }
        .Mcon2BtnIn {
            width: 90%;
            height: auto;
            margin: 0% auto;
            position: absolute;
            top: 50%;
            left: 5%;
        }
        .listLBtn {
            display: block;
            width: 8%;
            height: auto;
            border: 0;
            background: none;
            float: left;
        }
        .listRBtn {
            display: block;
            width: 8%;
            height: auto;
            border: 0;
            background: none;
            float: right;
        }
        .listMove img {
            width: 100%;
            height: auto;
        }
        .Mcon2BoxIn {
            width: 100%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
        }
        .Mcon2BoxIn ul {
            width: 800%;
            height: auto;
        }
        .Mcon2BoxIn ul li {
            width: 12.5%;
            height: auto;
            float: left;
        }
        .Mcon2BoxIn ul li img {
            display: block;
            width: 50%;
            height: auto;
            margin: 0 auto;
        }
        #Mcon4 {
            padding-top: 20%;
            }
        .Mcon4Tit1 {
            text-align: center;
            font-weight: bold;
            color: #3c3f99;
            font-size: 8vmax;
            }
        .MnewsNoti {
            width: 80%;
            height: auto;
            margin: 0 auto;
            }
        .MnotiBox a {
            padding: 2% 3%;
            }
        .MnotiBox a p.MnotiLinkTit {
            font-size: 2vmax;
            line-height: 7vmin;
            }
        .MnotiBox a span.MnotiLinkDate {
            margin-top: 0;
            font-size: 1.3vmax;
            }
        
        .MnewsWork {
            width: 100%;
            height: auto;
            }
        .MworkTit {
            text-align: center;
            font-weight: bold;
            color: #3c3f99;
            font-size: 8vmax;
            padding-bottom: 10%;
        }
        .MworkBox {
            float: none;
            margin: 5% auto;
            }
        .MworkLink {
            max-width: 100%;
            }
        .MworkLinkTit {
            font-size: 16px;
            line-height: 26px;
            }
        .MmNewsCon {
            display: block;
            width: 70%;
            height: auto;
            margin: 15% auto;
            }
        .MmNewsCon img {
            width: 100%;
            height: auto;
        }
        #Mft {
            width: 100%;
            height: auto;
        }
        .MftIn {
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding-top: 30%;
        }
        .MftMenu {
            width: 100%;
            height: auto;
            border-top: 1px solid #777;
            margin-top: 20%;
        }
        .MftNav {
            width: 80%;
            height: auto;
            margin: 0 auto;
        }
        .MftNav li {
            width: 15%;
            height: auto;
            margin: 2.5%;
            float: left;
            position: relative;
        }
        .MftNav li a {
            display: block;
            color: #333;
            font-size: 1vmax;
            text-align: center;
        }
        
        .Mcopyright {
            width: 80%;
            height: auto;
            margin: 20% auto;
            margin-bottom: 0%;
        }
        .Mcopyright span {
            display: block;
            text-align: left;
            font-weight: bold;
            font-size: 1.2vmin;
            color: #3c3f99;
            line-height: 4vmin;
        }
        .McopyLeft {
            width: 65%;
            height: auto;
            float: left;
           
        }
        .Mcall {
             margin: 0 auto;
        }
        .McallTit {
            display: block;
            font-size: 5vmin;
        }
        .McallLink {
            display: block;
            font-size: 3vmin;
            cursor: pointer;
        }
        .Mcall span {
            clear: both;
            display: block;
            font-size: 13px;
            line-height: 40px;
            padding: 0;
        }
        .MmenuSl {
            width: 300px;
            height: 500px;
            position: absolute;
            left: -330px;
            top: 0;
            z-index: 999;
            background-color: palevioletred;
        }
        .close {
            display: block;
            width: 30px;
            height: 30px;
            background-color: #fff;
            position: absolute;
            top: 15px;
            left: 30px;
            cursor: pointer;
            
        }
        .Mlogin {
            width: 100%;
            height: 30px;
        }
        .Mlogin ul {
            float: right;
        }
        .Mlogin ul li {
            float: left;
            margin: 20px;
        }
        .Mlogin ul li a {
            display: block;
            color: #fff;
        }
        .MmenuSl .MmenuSlLst {
            width: 200px;

        }
        .MmenuSl .MmenuSlLst li {
            width: 100px;
            margin: 40px;
        }
        .mMenuLst li a {
            display: block;
            color: #fff;
            text-align: left;
            padding-bottom: 10px;
        }
        @media screen and (max-width: 767px) {
            /* 모바일 */
            #desktop {
                display: none;
            }
            #mobile {
                display: block;
            }
        }
        @media screen and (min-width:768px) and (max-width:959px) {
            /* 테블릿 */
            #desktop {
                display: block;
            }
            #mobile {
                display: none;
            }
        }
        @media screen and (min-width:960px) and(max-width:1199px) {
            /* 데스크탑 */
            #desktop {
                display: block;
            }
            #mobile {
                display: none;
            }
        }
        @media screen and (min-width:1200px) {
            
        }