@charset "utf-8";
.pg {
    width: 100%;
    height: 100%;
    clear: both;
}
.pgWrap {
    width: 1200px;
    margin: 0 auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.right li {
    float: left;
    padding: 10px;
}
.right li a {
    display: block;
    color: #333;
    font-weight: bold;
}
.raIt {
    display: none;
}
.grid {
    clear: both;
    width: 1200px;
    height: 554px;
    margin: 0 auto;
    color: #fff;
}
.col {
    float: left;
    width: 600px;
    height: 554px;
    position: relative;
}
.box {
    float: left;
    width: 300px;
    height: 277px;
    position: relative;
}
.boxTit {
    font-size: 1.3em;
    text-align: center;
    line-height: 2;
    padding-top: 25px;
}
.boxTit:after {
    content: " ";
    display: block;
    width: 36px;
    height: 1px;
    border-bottom: 2px solid #eee;
    margin: 5px auto;
}
.boxCom {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
}
.ito {
    display: block;
    width: 149px;
    height: 111px;
    background-color: #19837f; 
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    color: #fff; 
    background-position: center 15px;
    line-height: 180px;
    text-align: center;
}
.ito.left {
    left: 0;
}    
.ito.right {
    right: 0;
    width: 150px;
}
.and {
    background-image: url("./images/android.png");
}
.iphone {
    background-image: url("./images/apple.png");
}
.mvIco {
    display: block;
    margin: 65px auto;
    width: 76px;
    height: 76px;
    background-image: url("./images/play.png");
    background-size: 100% 100%;
    background-position: center center;
    opacity: 0.7;
}    
.mvIco:after {
    content: " ";
    display: block;
    width: 260px;
    height: 237px; 
    position: absolute;
    top: 19px;
    left: 19px;
    border: 1px solid #fff;
}
.more {display: block;
    width: 38px;
    height: 38px;
    margin:35px auto; 
    background-image: url("./img/ico_go-bright.png");
    background-repeat: no-repeat;
} 
.btn {
    margin-top: 36px;
}
.btn li {
    float: left;
    width: 40%;
    height: 40px;
    margin: 4%;
    border: 1px solid #fff; 
    line-height: 40px;
    text-indent: 15px;
    color: #fff;
}

.btn li a {
    color: #fff;
}
.btn li a:after {
    content: "+";
    display: block;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 20px;
}    
.btn li a:hover {
    text-decoration: underline;
}
.ban1, .ban2, .banCom {
    line-height: 2;
    padding-top: 15px;
    color: #fff;
    text-shadow: 2px 2px 3px #333;
    padding-left: 20px;
}    
.banT {
    line-height: 1.2;
    color: #333;
    padding-top: 20px;
    padding-left: 20px; 
    font-size: 1.2em;
}    
.ban3 {
    line-height: 1.2;
    color: #333;
    padding-left: 20px;
    font-size: 2em;
    padding-bottom: 35px;
}
.boxTit2:after {
    display: block;
    content: " ";
    width: 36px;
    height: 10px;
    margin: 0 auto;
    border-bottom: 2px solid #333;
}    
.noti {
    width: 40%;
    float: left;
    padding: 5%;
    padding-bottom: 0; 
    background-position: 10% 165px;
    background-repeat: no-repeat;
}
.secTit {
    font-size: 1.6em;
    color: #333;
    font-weight: 400;
    line-height: 100px;
    width: 90%;
    float: left;
}
.more2 {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./img/ico_more.png");
    float: right;
    margin-top: 40px;
}
.notiTit {
    clear: both;
    display: block;
    font-size: 17px;
    color: #333; 
    font-weight: 600;
    margin-bottom: 15px;
    white-space: nowrap;    
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 100px;
}
.notiCom {
    line-height: 1.4;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px; 
    padding-left: 100px;
}
.notiline {
    border: 0;
    outline: 0; 
    height: 1px; 
    background: #ccc; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.lsBox li {
    margin-top: 20px;
    padding-left: 13px;
    clear: both;
    overflow: hidden;
}

.lsBox li:hover a, .lsBox li:hover span {
    text-decoration: underline;
}
.lstTit {
    font-weight: 300;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 80%;
    float: left;
    font-size: 0.9em;
}    
.lsBox li span {
    font-size: 0.9em;
    color: #666;
    float: right; 
}
.slBox {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}
.rtBox {
    width: 930px;
    float: right;
    height: auto;
    background: #fff; 
    padding-left: 100px;
    overflow: hidden;
}
.lstBox {
    width: 2000px;
    height: auto;
}
.rtBox li {
    float: left;
    width: 320px;
    margin: 0;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
}
.rtBox li:hover img {
    top: -15px;
    left: -15px;
    width: 110%;
    height: 110%;
}
.thumBox {
    position: relative; 
    width: 240px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}
.thumBox img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    transition: 0.4s;
}
.thumBox:hover img {
    top: -15px;
    left: -15px;
    width: 110%;
    height: 110%;
}
.itemTit {
    margin-top: 25px;
    font-size: 1.2em;
    color:#000;
    text-align: center;
    font-weight: 500;
}
.itemDate {
    display:block;
    margin-top: 10px;
    font-size: .9em;
    color: #979797;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}
.ctBox {
    background-color: bisque;
    width: 255px;
    height: 305px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 999;
}
.proTit {
    color: #fff;
    text-align: center;
    padding-top: 50px;
}  
.proCom {
    color: #fff;
    text-align: center;
}
.tBox {
    width: 120px;
    height: 37px;
    margin: 40px auto;
}
.tBox li {
    float: left;
    width: 40px;
    padding-top: 50px;
}
.tBox button {
    border: 0;
    outline: 0;
    display: block;
    width: 37px;
    height: 37px; 
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}    
.lb {
    background-image: url("./images/leftg1.png");
    background-size: 100% 100%;
}
.sb {
    background-image: url("./images/stopg1.png");
    background-size: 100% 100%;
}
.rb {
    background-image: url("./images/rightg1.png");
    background-size: 100% 100%;
}
.iconBox {
    clear: both;
    width: 950px;
    height: 100px;
    margin: 45px auto; 
    padding-top: 25px;
}
.iconBox li {
    float: left;
    width: 105px;
    height: 100px; 
    background-repeat: no-repeat;
    background-position: center 5px;
    padding-left: 50px;
}
.iconBox a {
    display: block;
    padding-top: 70px;
    text-align: center; 
    font-size: 0.8em;
    color: #333;
}
.iconBox a:hover {
    color: #0a479a;
    text-decoration :underline;
}
.ico1 {
    background-image: url("./images/main_icon1.png");
}
.ico2 {
    background-image: url("./images/main_icon2.png");
}
.ico3 {
    background-image: url("./images/main_icon3.png");
}
.ico4 {
    background-image: url("./images/main_icon4.png");
}
.ico5 {
    background-image: url("./images/main_icon5.png");
}
.ico6 {
    background-image: url("./images/main_icon6.png");
}

/* .ico1:hover {
    background-image: url("./images/iconon.png");
}
*/

.ctoBox {
    clear: both;
    width: 1200px;
    height: 90px;
    background: #fff;
    margin: 0 auto;
}
.ctoBox li {
    float: left;
    padding-top: 20px;
    margin-right: 60px;
}
.ctoBox li button {
    margin-top: 10px;
}
.ctoTit {
    line-height: 50px;
    font-size: 20px;
    font-family: fantasy;
    padding-right: 20px;
}
.ctobtn {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}
.ctobtn button {
    border: 0;
    outline: 0;
    display: block;
    width: 32px;
    height: 32px; 
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer; 
    background-position: center center;
    float: left;
    background-size: 100% 100%;
}
.leftSlide {
    background-image: url("./images/leftg1.png");
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.stopSlide {
    background-image: url("./images/stopg1.png");
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.rightSlide {
    background-image: url("./images/rightg1.png");
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.banBox img {
    margin-right: 30px;
}